</head>
<body>
    <main>
        <h1>Cookout Menu Planning</h1>

        <section>
            <h2>Main Dishes</h2>
            <h3>Burgers</h3>
            <p><strong><a href="https://menucookout.com/">Beef Burgers</a>:</strong> Classic choice, offer a variety of toppings like lettuce, tomato, cheese, onions, and pickles.</p>
            <p><strong>Veggie Burgers:</strong> For vegetarian guests, include options like black bean burgers or portobello mushrooms.</p>
            <p><strong>Chicken Burgers:</strong> Grilled chicken patties for a lighter option.</p>

            <h3>Hot Dogs and Sausages</h3>
            <p><strong>Hot Dogs:</strong> Traditional beef or pork hot dogs.</p>
            <p><strong>Sausages:</strong> Offer a variety such as bratwurst, Italian sausage, and chicken sausage.</p>

            <h3>BBQ Ribs</h3>
            <p><strong>Pork Ribs:</strong> Slow-cooked and basted with your favorite BBQ sauce.</p>
            <p><strong>Beef Ribs:</strong> Another hearty option, also great with BBQ sauce.</p>

            <h3>Grilled Chicken</h3>
            <p><strong>Whole Chicken or Thighs and Drumsticks:</strong> Marinated and grilled to perfection.</p>
            <p><strong>Chicken Skewers:</strong> Marinated chicken pieces with vegetables on skewers.</p>

            <h3>Seafood</h3>
            <p><strong>Grilled Shrimp:</strong> Marinated in garlic and herbs.</p>
            <p><strong>Fish Fillets:</strong> Options like salmon or tilapia, seasoned and grilled.</p>
        </section>

        <section>
            <h2>Side Dishes</h2>
            <h3>Salads</h3>
            <p><strong>Potato Salad:</strong> Traditional with mayonnaise, mustard, and hard-boiled eggs.</p>
            <p><strong>Coleslaw:</strong> Creamy or vinegar-based.</p>
            <p><strong>Pasta Salad:</strong> With vegetables, cheese, and Italian dressing.</p>
            <p><strong>Green Salad:</strong> Fresh mixed greens with a variety of dressings.</p>

            <h3>Vegetables</h3>
            <p><strong>Grilled Vegetables:</strong> Zucchini, bell peppers, onions, and mushrooms.</p>
            <p><strong>Corn on the Cob:</strong> Grilled and served with butter.</p>
            <p><strong>Baked Beans:</strong> A classic cookout side, seasoned with bacon and brown sugar.</p>

            <h3>Chips and Dips</h3>
            <p><strong>Potato Chips:</strong> Various flavors.</p>
            <p><strong>Tortilla Chips with Salsa and Guacamole:</strong> Fresh and homemade.</p>
            <p><strong>Vegetable Platter with Dip:</strong> Carrots, celery, cucumbers, and ranch dip.</p>
        </section>

        <section>
            <h2>Breads</h2>
            <p><strong>Hamburger and Hot Dog Buns</strong></p>
            <p><strong>Cornbread</strong></p>
            <p><strong>Dinner Rolls</strong></p>
        </section>

        <section>
            <h2>Desserts</h2>
            <h3>Fruit Salad</h3>
            <p>Fresh seasonal fruits like watermelon, strawberries, and grapes.</p>

            <h3>Cookies and Brownies</h3>
            <p>An assortment of cookies and brownies for a sweet treat.</p>

            <h3>Ice Cream or Popsicles</h3>
            <p>A variety of flavors to keep everyone cool.</p>
        </section>

        <section>
            <h2>Beverages</h2>
            <h3>Non-Alcoholic</h3>
            <p><strong>Lemonade and Iced Tea:</strong> Freshly made and chilled.</p>
            <p><strong>Soft Drinks:</strong> A variety of sodas.</p>
            <p><strong>Water:</strong> Essential, offer both plain and sparkling.</p>

            <h3>Alcoholic</h3>
            <p><strong>Beer:</strong> Various types, including light and craft beers.</p>
            <p><strong>Wine:</strong> Red, white, and rosé options.</p>
            <p><strong>Cocktails:</strong> Simple options like margaritas or mojitos.</p>
        </section>

        <section>
            <h2>Condiments and Extras</h2>
            <h3>Condiments</h3>
            <p>Ketchup, mustard, mayonnaise, relish, BBQ sauce, hot sauce, and specialty sauces like sriracha or aioli.</p>

            <h3>Extras</h3>
            <p>Pickles, onions, lettuce, tomato slices, cheese slices (cheddar, Swiss, American).</p>
        </section>

        <section>
            <h2>Tips for Success</h2>
            <p><strong>Preparation:</strong> Marinate meats and prep sides the day before to save time.</p>
            <p><strong>Grill Management:</strong> Have separate zones for high heat (for searing) and low heat (for slow cooking).</p>
            <p><strong>Dietary Options:</strong> Ensure you have vegetarian and gluten-free options available.</p>
            <p><strong>Timing:</strong> Cook meats to the correct temperatures and keep side dishes chilled until serving time.</p>
        </section>

        <p>By offering a variety of options, you can cater to different tastes and dietary preferences, ensuring everyone enjoys the cookout!</p>
    </main>
</body>
</html>